*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Patrick Hand SC', cursive;
}
body{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 720px;
    max-height: 1200px;
}
.container{
  margin: 20px;
  padding: 10px;
    background-color: rgba(148, 201, 248, 0.575);
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 10px;
}
.todoImage{
  width: 100%;
  
}
main{
  border-radius: 7px;
  background-color: rgb(175, 194, 235);
  padding: 1rem 0.3rem;
}
.addSection{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  padding: 15px;
  gap: 44px;
  width: 40%;
}
#submitButton{
  background-color: rgb(142, 238, 142);
  width: 20%;
  font-weight: bolder;
}
#submitButton:hover{
  background-color:rgba(142, 238, 142, 0.7) ;
}
ul {
    margin: 0;
    padding: 0;
    padding: 5px;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(248, 224, 224);
    font-size: 18px;
    transition: 0.2s;
    border-radius: 10px;
    font-family: 'Patrick Hand SC', cursive;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:nth-child(odd) {
    background: #fda7a7;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  ul li.checked {
    background: rgb(109, 176, 238);
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .remove:hover {
    background-color: #f44336;
    color: white;
  }
.rating{
  padding: 1rem 0.3rem;
}
.values{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.scale{
  display: flex;
}
.footerNote{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer{
display: flex;
align-items: center;
justify-content: center;
}